dns-forward-max=1000
strict-order
domain-needed
log-queries
address=/api.{{ocp_cluster_name}}.{{ocp_cluster_domain_name}}/{{ hostvars[groups['bastionhost'][0]]['ansible_host'] }}
address=/api-int.{{ocp_cluster_name}}.{{ocp_cluster_domain_name}}/{{ hostvars[groups['bastionhost'][0]]['ansible_host'] }}
address=/.apps.{{ocp_cluster_name}}.{{ocp_cluster_domain_name}}/{{ hostvars[groups['bastionhost'][0]]['ansible_host'] }}
