apiVersion: v1
kind: PersistentVolume
metadata:
  name: registry-pv
spec:
  capacity:
    storage: 100Gi 
  accessModes:
    - ReadWriteMany
  nfs: 
    path: /exports/image-registry
    server: {{hostvars[groups['bastionhost'][0]]['ansible_host']}} 
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
