apiVersion: ocs.openshift.io/v1    
kind: StorageCluster    
metadata:    
  namespace: openshift-storage    
  name: ocs-storagecluster    
spec:    
  manageNodes: false    
  resources:      
    mon:      
      requests:
        cpu: 250m
        memory: 1Gi
      limits:
        cpu: 500m
        memory: 1Gi
    mds:
      requests:
        cpu: 100m
        memory: 0.5Gi
      limits:
        cpu: 500m
        memory: 0.5Gi
    rgw:
      requests:
        cpu: 100m
        memory: 0.5Gi
      limits:
        cpu: 500m
        memory: 0.5Gi
    mgr:
      requests:
        cpu: 100m
        memory: 0.5Gi
      limits:
        cpu: 500m
        memory: 0.5Gi
    noobaa-core:
      requests:
        cpu: 250m
        memory: 0.5Gi
      limits:
        cpu: 500m
        memory: 0.5Gi
    noobaa-db:
      requests: 
        cpu: 100m
        memory: 0.5Gi
      limits:
        cpu: 500m
        memory: 0.5Gi
  monDataDirHostPath: /var/lib/rook
  storageDeviceSets:    
  - name: ocs-deviceset    
    count: 1
    dataPVCTemplate:    
      spec:    
        storageClassName: localblock    
        accessModes:    
        - ReadWriteOnce    
        volumeMode: Block    
        resources:    
          requests:    
            storage: {{ ocs_disk_size }}
    placement: {}
    replica: 3
    resources:
      requests:
        cpu: 250m
        memory: 0.5Gi
      limits:
        cpu: 500m
        memory: 2Gi
