apiVersion: ocs.openshift.io/v1    
kind: StorageCluster    
metadata:    
  namespace: openshift-storage    
  name: ocs-storagecluster    
spec:    
  manageNodes: false    
  monPVCTemplate:    
    spec:    
      storageClassName: local-sc-mon    
      accessModes:    
      - ReadWriteOnce
      volumeMode: Filesystem
      resources:    
        requests:    
          storage: {{ ocs_mon_disk_size }}    
  resources:      
    mon:      
      requests:
        cpu: 0.25
        memory: 1Gi
      limits:
        cpu: 0.5
        memory: 1Gi
    mds:
      requests:
        cpu: 0.1
        memory: 0.5Gi
      limits:
        cpu: 0.5
        memory: 0.5Gi
    rgw:
      requests:
        cpu: 0.1
        memory: 0.5Gi
      limits:
        cpu: 0.5
        memory: 0.5Gi
    mgr:
      requests:
        cpu: 0.1
        memory: 0.5Gi
      limits:
        cpu: 0.5
        memory: 0.5Gi
    noobaa-core:
      requests:
        cpu: 0.25
        memory: 0.5Gi
      limits:
        cpu: 0.5
        memory: 0.5Gi
    noobaa-db:
      requests: 
        cpu: 0.1
        memory: 0.5Gi
      limits:
        cpu: 0.5
        memory: 0.5Gi
  storageDeviceSets:    
  - name: ocs-deviceset    
    count: 1
    dataPVCTemplate:    
      spec:    
        storageClassName: local-sc-osd    
        accessModes:    
        - ReadWriteOnce    
        volumeMode: Block    
        resources:    
          requests:    
            storage: {{ ocs_osd_disk_size }}
    placement: {}
    portable: true
    replica: 3
    resources:
      requests:
        cpu: 0.25
        memory: 1Gi
      limits:
        cpu: 0.5
        memory: 2Gi
